@import url('https://fonts.googleapis.com/ css2?family=Chakra+Petch:wght@400;700&display=swap');
<style>
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Protest+Revolution&display=swap');
:root{
    --cor-de-fundo:#1e1e1e;
    --verde: #6fff57;
    --branco: #ffffff;
    --botao-ativo: #3a375e;
    --botao-inativo: rgba(58,55,94, 0.5);
    --texto-fundo: rgba(58,55,94, 0.3);
}